

body {
    background-color:#494949;
}

.wrapper {
    background-color: white !important;
}

#cover-image {
    background-image: url('Images/unnamed3.jpg');
    background-size: auto 100vh;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#cover-text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.white-bg {
    background-color: white !important;
    color: black;
}

small {
    font-size: 2rem;
}

#arrowDown {
    font-size: 4rem;
    text-decoration: none;
    color: white;
    opacity: 0.5;
    transition: all 250ms ease-in-out;
    animation: 1s moveUpDown infinite;
}

#arrowDown:hover {
    opacity: 1;
    animation-play-state: paused;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(-5%);
    }
    50% {
        transform: translateY(5%)
    }
    100% {
        transform: translateY(-5%)
    }
}

.darkTheme {
    background-color: #494949 !important;
    color: white !important;
}

.nav-link {
    color: white !important;
    transition: all 250ms ease-in-out !important;
}

.nav-link:hover {
    color: #919191 !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    border: 1px solid white !important;
}

.logo-background {
    color: white;
}

#logo {
    color: white;
}

#subtext {
    color: white;
    font-size: 1rem;
}

#aboutBackground {
    background-image: url('Images/WaikatoFromAbove2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
    height: 80vh;
}

#aboutText {
    background-color: hsla(0, 0%, 100%, 0.8) !important;
}

img {
    width: 100%;
}

.call-to-action {
    background-image: url('Images/DividerImg3.jpg');
    background-position: center;
    background-size: fill;
    background-attachment: fixed;
}

.btn-primary,.badge-primary {
    background-color: #4974a5 !important;
    border: none !important;
    transition: all 250ms ease-in-out;
}

.btn-primary:hover {
    background-color: #395b82 !important;
}

.btn-secondary {
    background-color:#494949;
    border: none !important;
}

.call-us-today-btn {
    background-color: white;
    border: 0.2rem solid #4974a5;
}

.call-us-today-btn:hover {
    background-color: #4974a5;
    color: white;
}

.house-img {
    color: white;
    background-color: hsla(0, 0%, 0%, 0.2) !important;
}

.house-current {
    background-image: url('Images/HousesImg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25vh;
    transition: all 250ms ease-in-out;
    margin-bottom: 2vh !important;
}

.house-current:hover {
    height: 27vh;
    margin-bottom: 0vh !important;
}

.house-past {
    background-image: url('Images/HousesImg3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25vh;
    transition: all 250ms ease-in-out;
    margin-bottom: 2vh !important;
}

.house-past:hover {
    height: 27vh;
    margin-bottom: 0vh !important;
}

#contact {
    color: white;
}

.divider {
    background-color: #494949;
}

form {
    color: black;
}
